@using HelloGit.Models
@using ClassLibrary1
@model ViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
    </tr>

    @foreach(Person p in Model.People)
    {
        <tr>
            <td>@p.FirstName</td>
            <td>@p.LastName</td>
            <td>@p.Age</td>
        </tr>
    }

</table>